@import "../../../variables.scss";

.product {
  border: 1px solid #F4E7FC;
  border-radius: 16px;
  width: 210px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-left: 24px;
  cursor: pointer;
  transition: 0.3s;
  margin-bottom: 24px;
  position: relative;

  
  button {
    background: #EAD0FA;
    border-radius: 50px;
    padding: 18px 56px;
    border: none;
    margin: 0 auto;
    margin-top: 32px;
    color: $light-black;
    font-weight: 600;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      width: 16px;
      height: 16px;
      font-size: 16px;
      margin: 0;
      margin-right: 8px;
    }
  }

  .desktop-button {
    display: none;
    padding: 10px 0px;
    width: 90%;
    margin: 0 auto;
    left: 10px;
    top: 150px
  }
  
  img {
    height: 190px;
    width: 190px;
    margin: 0 auto;
  }

  &:hover {
    box-shadow: 3px 2px 8px rgba(221, 175, 250, 0.35);
    
    .desktop-button {
      display: flex !important;
      position: absolute;
    }
  }

  .info {
    display: flex;
    flex-direction: column;
    padding: 8px;

    .mobile-button {
      display: none;
    }
    
    .title {
      font-weight: 400;
      font-size: 14px;
      line-height: 19px;
      color: #464C52;
    }

    .original-value, .current-value {
      color: $light-black;
      font-weight: 400;
      font-size: 12px;
      line-height: 16px;
      margin-top: 4px;

      span {
        font-size: 15px;
        font-weight: 600;
      }
    }

  }

  .tag {
    position: absolute;
    padding: 4px 8px;
    top: 8px;
    left: 8px;
    color: $light-black;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    z-index: 10;

    &.protection {
      background-color: #FB9EAE;
    }
    &.hydratation {
      background-color: #AFE7FF;
    }
    &.cleaning {
      background-color: $light-pink;
    }
  }
}

@media (max-width: 768px) { // mobile
  .product {
    .info {
      .mobile-button {
        display: flex;
        align-items: center;
      }
    }

    margin: 0 auto;
    width: 250px;

    img {
      width: 220px;
    }
  }
}