<div class="banner">
  <owl-carousel-o [options]="customOptions">

    <ng-container>
      <ng-template class="slide" carouselSlide>
        <img class="desktop" alt="Banner principal de mes das mulheres" src="../../../assets/images/banner1-home.png">
        <img class="mobile" alt="Banner principal de mes das mulheres" src="../../../assets/images/banner1-home-mobile.png">
      </ng-template>
    </ng-container>
    <ng-container>
      <ng-template class="slide" carouselSlide>
        <img class="desktop" alt="Banner de propaganda de um kit de autocuidado" src="../../../assets/images/banner2-home.png">
        <img class="mobile" alt="Banner de propaganda de um kit de autocuidado" src="../../../assets/images/banner2-home-mobile.png">
      </ng-template>
    </ng-container>
    <ng-container>
      <ng-template class="slide" carouselSlide>
        <img class="desktop" alt="Banner de propaganda de um kit de rotina e acessível" src="../../../assets/images/banner3-home.png">
        <img class="mobile" alt="Banner de propaganda de um kit de rotina e acessível" src="../../../assets/images/banner3-home-mobile.png">
      </ng-template>
    </ng-container>
  </owl-carousel-o>  
</div>