.banner {
  width: 100%;
  background-size: contain;
}

.mobile {
  display: none !important;
}

@media (max-width: 768px) {
  .desktop {
    display: none !important;
  }

  .mobile {
    display: block !important;
  }
}