<div class="home">
  <div class="header-toast" *ngIf="showToast">
    <p>Frete grátis acima de R$ 250,00</p>
    <span (click)="closeToast()">X</span>
  </div>

  <app-banner></app-banner>

  <div class="posts">
    <owl-carousel-o [options]="customOptionsPosts">
      <ng-container *ngFor="let post of posts">
        <ng-template class="slide" carouselSlide>
          <app-post [post]="post"></app-post>
        </ng-template>
      </ng-container>
    </owl-carousel-o> 
  </div>

  <div class="products">
    <h2>Nossos Produtos</h2>
    
    <img class="right" (click)="goToNext()" [src]="currentProduct == (products.length - 1) ? '../../assets/icons/seta-direita-disabled.svg' : '../../assets/icons/seta-direita.svg'">
    <img class="left" (click)="goToPrevious()" [src]="currentProduct == 0 ? '../../assets/icons/seta-esquerda-disabled.svg' : '../../assets/icons/seta-esquerda.svg'">


    <owl-carousel-o #productCarousel [options]="customOptionsProducts">
      <ng-container *ngFor="let product of products">
        <ng-template class="slide" carouselSlide>
          <app-product [product]="product" [currentProduct]="currentProduct"></app-product>
        </ng-template>
      </ng-container>
    </owl-carousel-o> 

    <button>Ver mais Produtos</button>
  </div>

  <footer>
    <ng-container *ngIf="!emailSuccess">
      <p>Cadastre-se aqui e receba descontos e novidades</p>
  
      <form [formGroup]="registerForm">
        <input formControlName="name" type="text" placeholder="Digite seu nome">
        <input formControlName="email" type="text" placeholder="Digite e-mail">
        <button (click)="register()">Enviar</button>
      </form> 
    </ng-container>
    <ng-container *ngIf="emailSuccess">
      <div class="success">
        <div class="around">
          <img src="../../assets/images/email.png">
        </div>
        <p>Seu e-mail foi cadastrado com sucesso!</p>
      </div>
    </ng-container>
  </footer>
</div>
