@import "../../variables.scss";

.home {
  // max-width: 1366px;
  // margin: 0 auto;

  .header-toast {
    background-color: $light-pink;
    width: 100%;
    display: flex;
    padding: 8px 8px;
    align-items: center;
    justify-content: center;
    
    p {
      color: $light-black;
      font-size: 16px;
      line-height: 21px;
    }

    span {
      position: absolute;
      top: 8px;
      right: 8px;
      cursor: pointer;
    }
  }

  .posts {
    padding-top: 36px;
    height: 664px;
    width: 100%;
    background: linear-gradient(180deg, #DCF5FE 0%, rgba(220, 245, 254, 0) 100%);
  }
}