<div class="home">
  <div class="header-toast" *ngIf="showToast">
    <p>Frete grátis acima de R$ 250,00</p>
    <span (click)="closeToast()">X</span>
  </div>

  <app-banner></app-banner>

  <div class="posts">
    <owl-carousel-o [options]="customOptionsPosts">
      <ng-container *ngFor="let post of posts">
        <ng-template class="slide" carouselSlide>
          <app-post [post]="post"></app-post>
        </ng-template>
      </ng-container>
    </owl-carousel-o> 
  </div>

  <div class="products">
    <h2>Nossos Produtos</h2>

    <owl-carousel-o [options]="customOptionsProducts">
      <ng-container *ngFor="let product of products">
        <ng-template class="slide" carouselSlide>
          <app-product [product]="product"></app-product>
        </ng-template>
      </ng-container>
    </owl-carousel-o> 

    <button>Ver mais Produtos</button>
  </div>

  <footer>
    <p>Cadastre-se aqui e receba descontos e novidades</p>
    <form>
      <input type="text" placeholder="Digite seu nome">
      <input type="text" placeholder="Digite e-mail">
      <button>Enviar</button>
    </form> 
  </footer>
</div>
